---
import { getCollection, type CollectionEntry } from "astro:content";
import type { Page, GetStaticPaths } from "astro";
import Layout from "../../layouts/Base.astro";
import PostPreview from "../../components/PostPreview.astro";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
    const posts = await getCollection("posts");
    return paginate(posts, { pageSize: 6 });
};

type Props = {
    page: Page<CollectionEntry<"posts">>;
};

const page = Astro.props.page;
---

<Layout
    title="Ad Astra - All Blog Posts"
    description="Explore all blog posts in Ad Astra, the first open-source, example-driven encyclopedia."
>
    <div
        class="mt-8 flex h-fit flex-col items-center gap-4 font-404 text-[color:var(--text-color)]"
    >
        <h1 class="text-4xl md:hidden md:text-5xl lg:text-6xl">Posts</h1>
        <ul
            class="flex w-5/6 flex-grow flex-col flex-wrap justify-evenly gap-4 md:flex-row"
        >
            {
                page.data.map((post) => (
                    <li class="w-full md:max-w-72">
                        <PostPreview post={post} />
                    </li>
                ))
            }
        </ul>

        <nav class="mt-2 flex">
            {
                page.currentPage > 1 && (
                    <a href={`/posts/${page.currentPage - 1}`}>
                        &lt;&nbsp;&nbsp;
                    </a>
                )
            }
            <p>{page.currentPage} / {page.lastPage}</p>
            {
                page.currentPage < page.total && (
                    <a href={`/posts/${page.currentPage + 1}`}>
                        &nbsp;&nbsp;&gt;
                    </a>
                )
            }
        </nav>
    </div>
</Layout>
