@font-face
    font-family: 'Adam CG Pro'
    src: url('../fonts/adam-cg-pro.otf') format('opentype')

/* ============== CSS VARIABLES ============== */

:root
    --header-font: 'Adam CG Pro', sans-serif
    --blue-space: #0e0e1a
    --white: #fff
