@font-face
    font-family: 'Adam CG Pro'
    src: url('../fonts/adam-cg-pro.otf') format('opentype')

/* ============== CSS VARIABLES ============== */

:root
    --header-font: 'Adam CG Pro', sans-serif

.dark-mode
    --text-color: #fff
    --background-color: #0e0e1a

.light-mode
    --text-color: #000
    --background-color: #f39f18
