---
import NavLink from "./NavLink.astro";
import Search from "./Search.astro";
---

<nav
    class="sticky inset-x-0 bottom-0 flex max-h-20 min-h-16 flex-grow items-center justify-evenly rounded bg-[color:var(--background-color)] opacity-85 md:relative md:inset-x-auto md:bottom-auto md:rounded-none md:bg-transparent md:opacity-100"
>
    <NavLink href="/about">About</NavLink>
    <NavLink href="/posts/1">Posts</NavLink>
    <NavLink href="/tags">Tags</NavLink>
    <Search />
</nav>
