---
interface Props {
    href: string;
}

const { href } = Astro.props;
const { pathname } = Astro.url;

const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
    class:list={[
        "font-header text-xl tracking-wide text-[color:var(--text-color)] underline-offset-8  hover:underline md:text-2xl",
        isActive ? "underline" : "no-underline",
    ]}
    href={href}
>
    <slot />
</a>
