<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site.name }}</title>
        <!-- favicon -->
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>">
        <!-- CSS styles -->
        <link rel="stylesheet" href={{ "/assets/css/main.css" | relative_url }}>
        <!-- Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.min.css"/>
        <!-- Fonts -->
        <!-- Use fontshare -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>

    <body class="dark-mode">
        <header>
            <div class="base-toggle">
                <input type="checkbox" name="toggle" id="toggle"/>
                <label for="toggle">
                    <div class="thumb">
                        <div class="rotator">
                            <div class="left side">
                                <img src={{ "/assets/img/moon.webp" | relative_url }}/>
                            </div>
                            <div class="right side">
                                <img src={{ "/assets/img/sun.webp" | relative_url }}/>
                            </div>
                        </div>
                    </div>
                </label>
            </div>

            <a href="/" class="base-logo">
                <img src={{ "/assets/img/white-logo.webp" | relative_url }}
                        alt="Ad-Astra logo" id="logo">
            </a>

            <nav class="base-nav">
                <a href="#">About</a>
                <a href="#">Posts</a>
                <div class="base-search">
                    <form id="search-bar" class="base-search-form" action="https://www.google.com/search">
                        <input type="search" placeholder="Type something...">
                        <div class="base-search-button" id="search-button">
                            <i class="ri-search-2-line base-search-icon"></i>
                            <i class="ri-close-line base-search-close"></i>
                        </div>    
                    </form>
                </div>    
            </nav>

        </header>

        {{ content }}

        <script src="{{ "/assets/js/main.js" | relative_url }}"></script>

    </body>

</html>